<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.ConfigurationSectionHandler, log4net"/>    
  
  </configSections>
  <log4net>
    <root>
      <level value="ERROR"/>
      <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
        <file value="log.txt"/>
        <appendToFile value="true"/>
        <rollingStyle value="Size"/>
        <maxSizeRollBackups value="10"/>
        <maximumFileSize value="250KB"/>
        <staticLogFileName value="true"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%date{ABSOLUT} [%logger] %-5level %logger - %message%newline%exception"/>
        </layout>
      </appender>

    </root>
  </log4net>
    <connectionStrings>
        <add name="FlightManagerProject.Properties.Settings.FlightComConnectionString"
            connectionString="Data Source=.;Initial Catalog=FlightCom;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  <appSettings>
    <add key="errorLog" value="D:\git\Flight_Project\FlightProject\CoreControls\FlightManagerProject\Resurces/ErrorLogger.txt"/>
  </appSettings>
  
</configuration>